@import "../../sass/mixins";
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #fff;
  @include respond(lilphone) {
    padding: 5px 10px;
  }
}

.main-nav a {
  font-weight: bold;
  color: #2c3e50;
}

.main-nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-right: 0.5rem;
  border: #42b983 2px solid;
  border-radius: 2rem;
  padding: 0.6rem 1rem;
  background-color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
  white-space: nowrap;
  svg {
    padding-right: 0.5rem;
    height: 20px;

    @include respond(lilphone) {
      display: none;
    }
  }
}

.main-nav-item:hover {
  text-decoration: underline;
  color: #42b983;
  cursor: pointer;
}

.main-nav-logo {
  display: flex;
  align-items: center;
}

.main-nav-logo-image {
  max-width: 100%;
  width: 200px;
}
.nav__connected {
  display: flex;
  font-size: 1.2rem;
  font-weight: 500;
  align-items: center;
  font-weight: bold;
  color: #2c3e50;
  button {
    outline: none;
    border: none;
    background-color: #fff;
    cursor: pointer;
    font-size: 1.1rem;
    padding-left: 0.5rem;
    font-weight: bold;
    color: #2c3e50;
    @include respond(lilphone) {
      padding-left: 0.5rem;
    }
  }
  p {
    display: flex;
    align-items: center;
    justify-content: center;
    @include respond(lilphone) {
      font-size: 1.1rem;
      padding-left: 0;
    }
  }
}
.nav__first {
  @include respond(lilphone) {
    display: none !important;
  }
}
.nav__sec {
  margin-left: 1rem;
  white-space: nowrap;
}
